name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Fetch sources
      uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: adopt
        java-version: 17
        java-package: jdk
    - name: Build
      env:
        AVN_REPO_USERNAME: ${{ secrets.AVN_REPO_USERNAME }}
        AVN_REPO_PASSWORD: ${{ secrets.AVN_REPO_PASSWORD }}
      run: mvn test -B -U -V --settings .github/settings.xml --file pom.xml
    - name: Deploy
      if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/stable' || github.base_ref == 'refs/heads/main' || github.base_ref == 'refs/heads/stable'
      env:
        AVN_GPG_PASSWORD: ${{ secrets.AVN_GPG_PASSWORD }}
        AVN_KEYSTORE_PASSWORD: ${{ secrets.AVN_KEYSTORE_PASSWORD }}
        AVN_REPO_USERNAME: ${{ secrets.AVN_REPO_USERNAME }}
        AVN_REPO_PASSWORD: ${{ secrets.AVN_REPO_PASSWORD }}
        GITHUB_REF: ${{ github.ref }}
      run: .github/deploy.sh
